* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

body,
html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
