#banner {
  input {
    transition: all 0.5s;
    background: transparent;
  }
  label {
    border: 1px solid transparent;
  }
}

.animatedSmallSearch {
  transition: all 0.5s;
}

.animate {
  height: 100%;
}
