.calendar {
  scrollbar-width: none;

  .calendar-day {
    &.inactive {
      color: rgba($color: #000000, $alpha: 0.2);
      background: transparent;
    }
    &.active {
      color: white;
      background: black;
    }
  }
}
