.contentContainer {
  height: calc(100vh - $header);
  scrollbar-width: none;
}

.mapContainer {
  height: calc(100vh - $header);
  position: sticky;
  top: 0;
}

.leaflet-container {
  height: calc(100vh - $header);
}
