#selectedLocation {
  * {
    transition: all 0.3s;
  }

  .roomNumbers {
    color: #222222;
    font-weight: 550;
  }

  .locationItem:hover {

    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
    }

    .swiper-button-disabled {
      opacity: 0.5;
    }
  }

  .swiper {
    margin: 0;
    z-index: 0;

    .swiper-pagination-bullet-active {
      background: white;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: black;
      background: white;
      border-radius: 100%;
      width: 32px;
      height: 32px;
      opacity: 0;

      &:hover {
        transform: scale(1.1);
      }
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 0.7rem;
      font-weight: bold;
    }
  }
}
