#header {
  .links {
    &.active {
      color: black;
      font-weight: bold;
    }
  }

  &.active {
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .sHeaderItem {
    &.active {
      color: $brand-color;
    }
  }
}
