#header {
  height: $header;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  #headerLogo {
    flex: 1 0 140px;
  }

  #headerRight {
    flex: 1 0 140px;
  }

  .links {
    &.active {
      color: black;
      font-weight: bold;
    }
  }

  &.active {
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 14px 11px 12px 0px rgba(0, 0, 0, 0.2);
  }

  #mdPopUp {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  }

  .sHeaderItem {
    &.active {
      color: $brand-color;
    }
  }
}
